<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <meta name="color-scheme" content="dark">

    <!-- Styles -->
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
    <section class="section">
        <form action="/forms/add-product" method="POST" enctype="multipart/form-data" class="box make-it-semi-back">
            <h2 class="section title is-4 has-text-white">Add a New Product</h2>

            <div class="field">
                <label class="label make-it-dark" for="title">Title:</label>
                <div class="control">
                    <input placeholder="Title" class="input is-dark" type="text" id="title" name="title" required value="{{title}}">
                </div>
            </div>

            <div class="field">
                <label class="label make-it-dark" for="description">Description:</label>
                <div class="control">
                    <textarea placeholder="Description" class="textarea is-dark" id="description" name="description" required>{{description}}</textarea>
                </div>
            </div>

            <div class="field">
                <label class="label make-it-dark" for="code">Code:</label>
                <div class="control">
                    <input placeholder="ABC-DEC" class="input is-dark" type="text" id="code" name="code" required value="{{code}}">
                </div>
            </div>

            <div class="field">
                <label class="label make-it-dark" for="price">Price:</label>
                <div class="control">
                    <input placeholder="Price" class="input is-dark" type="number" id="price" name="price" min="0" required value="{{price}}">
                </div>
            </div>

            <div class="field">
                <label class="label make-it-dark" for="stock">Current Stock:</label>
                <div class="control">
                    <input placeholder="Stock" class="input is-dark" type="number" id="stock" name="stock" min="0" required value="{{stock}}">
                </div>
            </div>

            <div class="field">
                <label class="label make-it-dark" for="category">Category:</label>
                <div class="control">
                    <input placeholder="Category" class="input is-dark" type="text" id="category" name="category" required value="{{category}}">
                </div>
            </div>

            <div class="field">
                <label class="label make-it-dark" for="pieces">Pieces:</label>
                <div class="control">
                    <input placeholder="Number of Pieces" class="input is-dark" type="number" id="pieces" name="pieces" min="1" required value="{{pieces}}">
                </div>
            </div>

            <div class="field">
                <label class="label make-it-dark" for="handle">Handle:</label>
                <div class="control">
                    <input placeholder="Handle" class="input is-dark" type="text" id="handle" name="handle" required value="{{handle}}">
                </div>
            </div>

            <div class="field">
                <label class="label make-it-dark" for="wheelArrangement">Wheel Arrangement:</label>
                <div class="control">
                    <input placeholder="Wheel Arrangement" class="input is-dark" type="text" id="wheelArrangement" name="wheelArrangement" required value="{{wheelArrangement}}">
                </div>
            </div>

            <div class="field">
                <label class="label make-it-dark" for="lighting">Lighting:</label>
                <div class="control">
                    <div class="select is-dark">
                        <select id="lighting" name="lighting" required>
                            <option value="true" {{#if lighting}}selected{{/if}}>Yes</option>
                            <option value="false" {{#unless lighting}}selected{{/unless}}>No</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label make-it-dark" for="motorizable">Motorizable:</label>
                <div class="control">
                    <div class="select is-dark">
                        <select id="motorizable" name="motorizable" required>
                            <option value="true" {{#if motorizable}}selected{{/if}}>Yes</option>
                            <option value="false" {{#unless motorizable}}selected{{/unless}}>No</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label make-it-dark" for="status">Status:</label>
                <div class="control">
                    <div class="select is-dark">
                        <select id="status" name="status" required>
                            <option value="true" {{#if status}}selected{{/if}}>Active</option>
                            <option value="false" {{#unless status}}selected{{/unless}}>Inactive</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label make-it-dark" for="file">Upload Image:</label>
                <div class="control">
                    <input class="input is-dark" type="file" id="file" name="file" accept="image/*" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-success is-fullwidth" type="submit">Add Product</button>
                </div>
            </div>
        </form>
    </section>
</body>
</html>
