{{#if cart.products.length}}
    <div class="box cart-products">
        
        <div class="make-it-semi-back make-it-rounded-top section make-it-normal make-it-dark">
            Cart Details - {{cart.cid}}
        </div>

        <table width="100%" class="section make-it-small">
            <thead>
                <tr>
                    <th class="make-it-center"></th>
                    <th></th>
                    <th>Product Code</th>
                    <th>Description</th>
                    <th class="make-it-center">Pieces</th>
                    <th class="make-it-center">Price/u</th>
                    <th class="make-it-center">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each cart.products}}
                <tr>
                    <td class="section" width="64px"><img src="{{this.imageURL}}"  alt="{{this.title}}"></td>
                    <td class="make-it-dark make-it-small">{{this.title}} <br> <a class="make-it-semi">({{this.pid}})</a></td>
                    <td class="make-it-dark make-it-small">{{this.code}}</td>
                    <td>{{this.description}}</td>
                    <td class="make-it-center">{{this.pieces}}</td>
                    <td class="make-it-center">${{this.price}}</td>
                    <td class="make-it-center">x{{this.quantity}}</td>





                    
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{else}}
    <p class="make-it-white make-it-center">Your cart is empty.</p>
    <p class="make-it-white make-it-center">Go to <a class="make-it-white" href="/products"><b>/products</b></a> to start adding</p>
{{/if}}
