<h2>Cart Details</h2>

{{#if cart.products.length}}
    <div class="cart-products">
        {{#each cart.products}}
            <div class="product-card">
                <div class="product-image">
                    <img src="{{this.imageURL}}" alt="{{this.title}}">
                </div>
                <div class="product-details make-it-white make-it-small">
                    <h3>{{this.title}}</h3>
                    <h3>{{this.pid}}</h3>
                    <p>Price: ${{this.price}}</p>
                    <p>Quantity: {{this.quantity}}</p>
                </div>
            </div>
        {{/each}}
    </div>
{{else}}
    <p>Your cart is empty.</p>
{{/if}}
