{{!-- views/current.handlebars --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>User Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <h2 class="section make-it-left make-it-white-back make-it-dark make-it-rounded-top">User menu</h2>

    <section class="">
        <div class="section make-it-light-back make-it-small">
            <div id="userInfo" class="box make-it-dark">
                <p><strong>Username:</strong> {{user.username}}</p>
                <p><strong>Email:</strong> {{user.email}}</p>
                <p><strong>First Name:</strong> {{user.firstName}}</p>
                <p><strong>Last Name:</strong> {{user.lastName}}</p>
                <p><strong>Age:</strong> {{user.age}}</p>
                <p><strong>Cart ID:</strong> {{user.cartId}}</p>
                <p><strong>Role:</strong> {{user.role}}</p>
            </div>

            <div class="grid-container-3c-by-1r">
                <div></div>
                <div class="">
                    <a href="/logout" class="navbar-item is-warning make-it-normal button">Logout</a>
                </div>
                <div class="">
                    {{#if (eq user.role "admin")}}
                        <a href="/admin" class="navbar-item make-it-normal button">Admin Panel</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </section>
</body>
</html>
