<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket List</title>
    <meta name="color-scheme" content="dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <h2 class="section make-it-left make-it-white-back make-it-dark make-it-normal make-it-rounded-top">
        Ticket List - Static View
    </h2>

    <!-- Pagination Controls -->
    <section class="section make-it-small rt-general-page-footer">
        <div class="container make-it-dark">
            <div class="columns is-multiline is-centered">
                <div class="column is-10">
                    <div class="rt-general-page-footer make-it-semi-back is-centered grid-container-3c-by-1r-special" role="navigation" aria-label="pagination">
                        <a class="button section make-it-small" href="?page={{prevPage}}&limit={{limit}}">Prev page</a>

                        <div class="make-it-center make-it-white">
                            Page {{currentPage}} of {{totalPages}}
                        </div>

                        <a class="button section make-it-small" href="?page={{nextPage}}&limit={{limit}}">Next page</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Ticket List -->
    <section class="section">
        <div class="make-it-small make-it-100percent-wide">
            <div class="columns is-multiline is-centered">
                {{#if tickets.length}}
                    {{#each tickets}}
                        <div class="column is-12">
                            <div class="small-section make-it-light-back make-it-100percent-wide">
                                <div class="section">
                                    <div class="make-it-dark-back section make-it-rounded-top make-it-white">
                                        <b>Ticket ID:</b> {{this.tid}} | 
                                        <b>Purchaser:</b> {{this.purchaser}} | 
                                        <b>Total:</b> ${{this.amount}}
                                        <br>
                                        <small><b>Date:</b> {{this.purchase_datetime}}</small>
                                    </div>

                                    <!-- Purchased Products -->
                                    <div class="section make-it-small">
                                        <h3 class="make-it-small"><strong>Purchased Products</strong></h3>
                                        <table width="100%">
                                            <thead>
                                                <tr class="table make-it-semi-back">
                                                    <th>Product ID</th>
                                                    <th class="make-it-left">Quantity</th>
                                                    <th class="make-it-right">Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each this.purchased}}
                                                    <tr>
                                                        <td>{{this.pid}}</td>
                                                        <td class="make-it-left">{{this.quantity}}</td>
                                                        <td class="make-it-right">${{this.price}}</td>
                                                    </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>

                                    <!-- Not Purchased Products -->
                                    <div class="section">
                                        <h3 class="make-it-small"><strong>Not Purchased Products</strong></h3>
                                        <table width="100%">
                                            <thead>
                                                <tr class="table make-it-semi-back make-it-white make-it-rounded make-it-small">
                                                    <th>Product ID</th>
                                                    <th class="make-it-left">Quantity</th>
                                                    <th class="make-it-right">Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each this.notPurchased}}
                                                    <tr class="make-it-small">
                                                        <td>{{this.pid}}</td>
                                                        <td class="make-it-left">{{this.quantity}}</td>
                                                        <td class="make-it-right">${{this.price}}</td>
                                                    </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    <div class="has-text-centered make-it-white section">
                        No tickets found in database.
                    </div>
                {{/if}}
            </div>
        </div>
    </section>
</body>
</html>
