<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
    <meta name="color-scheme" content="dark">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body class="splash-page-home make-it-normal">

    <header class="title-bar-container other-bar is-frozen make-it-semi-back make-it-normal grid-container-2c-by-1r">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img class="logo-image" src="/static/shopnhour_blue.png" alt="Shopnhour Store Logo" width="115px">
            </a>
        </div>

        <div class="grid-container-6c-by-1r make-it-rounded small-section">
            <div class="grid-container-2c-by-1r">
                <a class="navbar-item make-it-rounded make-it-dark" href="/products">
                    <span><i class="fas fa-box-open small-section"></i></span><p>Products</p>
                </a>

                {{#if user}}
                    <a class="navbar-item make-it-rounded make-it-dark" href="/carts/{{user.cartId}}">
                        <span><i class="fas fa-shopping-cart small-section"></i></span><p>Cart</p>
                    </a>
                {{else}}
                    <a class="navbar-item make-it-rounded make-it-dark" href="/guest-cart">
                        <span><i class="fas fa-shopping-cart small-section"></i></span><p>Cart</p>
                    </a>
                {{/if}}
            </div>

            {{#if user}}
                <div class="grid-container-2c-by-1r">
                    <a class="navbar-item make-it-rounded make-it-dark" href="/current/">
                        <span><i class="fas fa-user small-section"></i></span><p>{{user.username}}</p>
                    </a>
                    <a class="navbar-item make-it-rounded make-it-dark" href="/logout/">
                        <span><i class="fas fa-sign-out-alt small-section"></i></span><p>Log out</p>
                    </a>
                </div>
            {{else}}
                <a class="navbar-item make-it-rounded make-it-dark" href="/login/">
                    <i class="fas fa-key small-section"></i> Login
                </a>
            {{/if}}
        </div>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer class="content section make-it-semi make-it-small">
        <p>&copy; 2025 Shopnhour</p>
    </footer>

</body>
</html>
